// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global";
// @import "foundation/components/global";
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms";
// @import "foundation/components/custom-forms";
// @import "foundation/components/button-groups";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/split-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

//Helper mixins
@mixin prefixes($property, $values) {
	-webkit-#{$property}: $values;
	-moz-#{$property}: $values;
	-ms-#{$property}: $values;
	-o-#{$property}: $values;
	#{$property}: $values;
}

@function em($target, $context: $em-base) {
   @return #{$target / $context}em;
}


body {
	font-family: 'Lato', sans-serif;
}
h1, h2 ,h3, h4, h5, h6 {	
	color: #333;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}
header {
	background: #000;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	nav {
		ul {
			margin: 0;
			padding: 7px 0;
		}
		li {	
			display: inline-block;
			text-align: center;
			width: 19.65%;
			a {
				color: #fff;
				font-size: em(12px);
				font-weight: 900;
				text-transform: uppercase;
			}
		}
	}
}
#billboard {
	background: #222 url(/images/bg_billboard.jpg) center top no-repeat;
	background-size: cover;
	margin-top: 35px; //Account for fixed header bar
	min-height: 330px;
	padding: 50px 0;
	h1 {
		background: url(/images/logo.png) center top no-repeat;
		background-size: 100%;
		min-height: 245px;
	}
}
.layer {
	border: {
		top: none;
		right: none;
		bottom: 10px solid #333;
		left: none;
	}
	padding: 20px 0;
	h2 {
		font-size: em(36px);
		font-weight: 900;
		text-align: center;
	}
	h2 + p {
		font-size: em(18px);
		text-align: center;
	}
}
.layer.connect {
	border: none;
}
#billboard + .layer {
	background: $edgeGreen;
	h2, p {
		color: #fff;
	}
	h2 + p {	
		font-size: em(24px);
	}
	
}
