	<style>
		.supporters {
			text-align: center;
		}
	</style>
	<map name="image-map-2014-08-18-141328" id="ImageMapsCom-image-maps-2014-08-18-141328">
		<area alt="FT Labs" href="http://labs.ft.com" shape="rect" coords="18,10,61,72" style="outline:none;" />
		<area alt="Akamai" href="https://developer.akamai.com/" shape="rect" coords="125,15,263,70" style="outline:none;" />
		<area alt="Google" href="http://developer.google.com" shape="rect" coords="310,29,415,69" style="outline:none;" />
		<area alt="Adobe" href="http://www.adobe.com/devnet.html" shape="rect" coords="450,10,496,73" style="outline:none;" />
		<area alt="Github" href="http://www.github.com" shape="rect" coords="538,29,631,62" style="outline:none;" />
	</map>
	<section class="layer">
		<div class="row">
			<div class="small-12 columns party">
				<h2>After hours at Akamai</h2>
				<p>Join us after the conference for drinks and delicious local food, generously hosted by our friends at <a href='http://www.akamai.com'>Akamai</a>.</p>
				<div class='row' style='margin-bottom: 1em'>
					<div class='columns small-12 large-4'><img src='/images/events/2014-sf/party/1.jpg'></div>
					<div class='columns small-12 large-4'><img src='/images/events/2014-sf/party/4.jpg'></div>
					<div class='columns small-12 large-4'><img src='/images/events/2014-sf/party/2.jpg'></div>
				</div>
				<p>The lovely Akamai offices are a ten minute cab ride or a 30 minute walk depending on the weather. Join us and our after party hosts for food, drink, music and a chance to continue conversations begun during the day.</p>
			</div>
		</div>
	</section>
	<section class="layer">
		<div class="row">
			<div class="small-12 columns supporters">
				<p>Edge SF is supported by all these wonderful people:</p>
				<p><img src='/images/partners/sponsors.png' usemap="#image-map-2014-08-18-141328"></p>
			</div>
		</div>
	</section>
