<style>
</style>
	<section class="layer">
		<div class="row">
			<div class="small-12 columns party">
				<h2>After hours at Akamai</h2>
				<p>Join us after the conference for drinks and delicious local food, generously hosted by our friends at <a href='http://www.akamai.com'>Akamai</a>.</p>
				<div class='row' style='margin-bottom: 1em'>
					<div class='columns small-12 large-4'><img src='/images/events/2014-sf/party/1.jpg'></div>
					<div class='columns small-12 large-4'><img src='/images/events/2014-sf/party/4.jpg'></div>
					<div class='columns small-12 large-4'><img src='/images/events/2014-sf/party/2.jpg'></div>
				</div>
				<p>The lovely Akamai offices are a ten minute cab ride or a 30 minute walk depending on the weather. Join us and our after party hosts for food, drink, music and a chance to continue conversations begun during the day.</p>
			</div>
		</div>
	</section>
