<style>
.flex-direction-nav a {
    height: 50px;
}
</style>
    <section class="layer">
        <div class="row">
            <div class="small-12 columns">
                <div class="flexslider">
                    <ul class="slides">
                        <li><img src="/images/events/2014-sf/photos/IMG_8133.jpg" /></li>
                        <li><img src="/images/events/2014-sf/photos/IMG_8138.jpg" /></li>
                        <li><img src="/images/events/2014-sf/photos/IMG_8231.jpg" /></li>
                        <li><img src="/images/events/2014-sf/photos/IMG_8464.jpg" /></li>
                        <li><img src="/images/events/2014-sf/photos/IMG_9103.jpg" /></li>
                        <li><img src="/images/events/2014-sf/photos/IMG_9114.jpg" /></li>
                        <li><img src="/images/events/2014-sf/photos/IMG_9207.jpg" /></li>
                        <li><img src="/images/events/2014-sf/photos/IMG_9279.jpg" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
