	<section class="layer" id='girlswhocode'>
		<div class="row">
			<div class="small-12 columns">
				<h2>Supporting a great cause</h2>
			</div>
			<div class="small-12 large-9 columns">
				<p>We're happy to announce that the <strong>majority of revenue</strong> from Edge ticket sales is donated to a charity that promotes education of the next generation of engineers who will look after the web.  For this event, we will be supporting <a href='http://girlswhocode.com'>Girls who Code</a>.</p>
			</div>
			<div class="small-12 large-3 columns">
				<img src='/images/partners/gwc_logo.png' />
			</div>
			<div class="small-12 columns">
				<p>Launched in Spring 2012, Girls Who Code is a nonprofit organization working throughout the United States to close the gender gap in the technology and engineering sectors.</p>
				<p>With support from public and private partners, Girls Who Code works to educate, inspire, and equip high school girls with the skills and resources to pursue opportunities in computing fields.</p>
			</div>
		</div>
	</section>
