	<section class="layer" id='codeclub'>
		<div class="row">
			<div class="small-12 columns">
				<h2>Supporting a great cause</h2>
			</div>
			<div class="small-12 large-9 columns">
				<p><strong>All profits</strong> from Edge ticket sales are donated to a charity that promotes education of the next generation of engineers who will look after the web.  For Edge {{ thisevent.location}} {{ thisevent.start_time|date('Y') }}, we are supporting <a href='http://hackthehood.org'>Hack the Hood</a>.</p>
				<p>A 2014 Finalist for <a href='https://impactchallenge.withgoogle.com/bayarea2014/charity/hack-the-hood'>The Bay Area Google Impact Challenge</a>,  Hack the Hood is a nonprofit organization working to introduce young people from very low-income communities to careers in technology, marketing, and digital media.</p>
			</div>
			<div class="small-12 large-3 columns">
				<img src='/images/partners/hth_logo.jpg' />
			</div>
			<div class="small-12 columns">
				<p>Launched in October 2012, Hack the Hood helps <strong>women, people of color, and LGBTQ young people</strong> become part of the tech community through training and hands-on experience building websites for local small businesses. Participants are mentored, develop professional portfolios and visit tech companies to learn about careers.</p>
			</div>
		</div>
	</section>
