{% extends 'layout.html' %}
{% set activemenu = 'invite' %}
{% set admin = true %}

{% block content %}
<div class='container'>
	<h2>Edge {{event.id}} {{event.location}}</h2>

	{% if people %}
	<form method='post' action='/admin/invite'>
	<table>
		<thead><tr><th>Name</th><th>Org</th><th>Email</th><th>Status</th><th>Detail</th><th></th></tr></thead>
		<tbody>
			{% for person in people %}
			<tr>
				<td><a href='/admin/people/{{person.id}}'>{{person.given_name}} {{person.family_name}}</a></td>
				<td>{{person.org}}</td>
				<td>{{person.email}}</td>
				<td>{{person.status}}</td>
				{% if person.status == 'Attending' %}
				<td>
					{{person.ticket_type}}
					{% if person.ticket_id %}
					(<a href='https://dashboard.stripe.com/payments/{{person.ticket_id}}'>{{person.ticket_id}}</a>)
					{% endif %}
				</td><td>
					<input type='button' value='Cancel ticket' class='admin-cancel-ticket' data-person-id='{{person.id}}' />
				</td>
				{% elseif person.invite_date_reminded %}
				<td>{{person.invite_date_reminded|timeago}} (Reminded)</td><td></td>
				{% elseif person.invite_code %}
				<td>{{person.invite_date_sent|timeago}} (Invited)</td>
				<td><input type='button' value='Send reminder' class='admin-remind' data-person-id='{{person.id}}' /></td>
				{% else %}
				<td>{% if person.type == 'VIP' %}VIP{% else %}Rated {{person.avgrating|round(1)}}{% endif %}</td>
				<td><input type='button' value='Invite' class='admin-invite' data-person-id='{{person.id}}' /></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</form>
	{% endif %}
</div>
{% endblock %}
