<style>
.flex-direction-nav a {
	height: 50px;
}
</style>
	<section class="layer">
		<div class="row">
			<div class="small-12 columns">
				<div class="flexslider">
					<ul class="slides">
						<li><img src="https://lh3.googleusercontent.com/-Vb3wa6KspaM/Ukg987okhzI/AAAAAAAAAGA/OnKiF8Liqfk/w968-h645-no/DSCF0057.jpg" /></li>
						<li><img src="https://lh3.googleusercontent.com/-n9RBCHywuig/Ukg952GIrdI/AAAAAAAAAFQ/XBrJAehsuxE/w968-h645-no/DSCF0047.jpg" /></li>
						<li><img src="https://lh6.googleusercontent.com/-3DYaxzuQETg/Ukg97vOszrI/AAAAAAAAAFw/asvaoohjXoo/w968-h645-no/DSCF0054.jpg" /></li>
						<li><img src="https://lh3.googleusercontent.com/-NmloE025wCY/Ukg-D9fkWQI/AAAAAAAAAH4/KRrM8ZGb07g/w968-h645-no/DSCF0082.jpg" /></li>
						<li><img src="https://lh5.googleusercontent.com/-9jumztBr-7c/Ukg-GaE8cYI/AAAAAAAAAIk/j9yUz2rQmFU/w968-h645-no/DSCF0093.jpg" /></li>
						<li><img src="https://lh5.googleusercontent.com/-u0YahNZ6VVM/Ukg-FN1RyMI/AAAAAAAAAIU/Va5Uz_Mww4w/w968-h645-no/DSCF0089.jpg" /></li>
						<li><img src="https://lh5.googleusercontent.com/-P3qBkrp7Uzk/Ukg-Ntuv8xI/AAAAAAAAAKc/VpveySM0LB0/w968-h645-no/DSCF0123.jpg" /></li>
						<li><img src="https://lh4.googleusercontent.com/-n_VEieTThLI/Ukg-PEfgwUI/AAAAAAAAALE/-L7_ghnXXfg/w968-h645-no/DSCF0127.jpg" /></li>
						<li><img src="https://lh3.googleusercontent.com/-R6U8nTXnNm8/Ukg-Rx7kfaI/AAAAAAAAALk/64UUwfe4vfY/w968-h645-no/DSCF0140.jpg" /></li>
						<li><img src="https://lh3.googleusercontent.com/-ECQ5JfOEqxU/Ukg-X6NMjPI/AAAAAAAAANk/iVudHg00xf0/w968-h645-no/DSCF0166.jpg" /></li>
						<li><img src="https://lh5.googleusercontent.com/-qbylXg5cwgg/Ukg-caJAMWI/AAAAAAAAAOo/Cnpc6U3_Qr8/w968-h645-no/DSCF0192.jpg" /></li>
						<li><img src="https://lh6.googleusercontent.com/--qhXkyFIz6w/Ukg-fk10tlI/AAAAAAAAAPg/Q3z5ZwQ5RkI/w968-h645-no/DSCF0214.jpg" /></li>
						<li><img src="https://lh6.googleusercontent.com/-pKoflkpCeoI/Ukg-jKD23PI/AAAAAAAAAQo/He0nWNEW6sc/w968-h645-no/DSCF0238.jpg" /></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
