[mysql]
host = 127.0.0.1
username = [____________]
password = [____________]
db_name = edgeconf

[eventbrite]
appkey = [____________]
userkey = [____________]
vipcode = [____________]

[mailchimp]
api_key = [____________]
list_id = [____________]

[view]
cache_path = /tmp/viewscache

[auth]
; Gmail accounts that should have admin access
admins = someone@example.com, someone.else@example.com

[debug]
debug_key = [____________]
