<h3 class='space'>Place and time</h3>
<p>Here's where and when Edge will be held:</p>

<table align="left" class="column"><tr><td>
	<img style="border: 1px solid #999999" src="https://maps.googleapis.com/maps/api/staticmap?center={{event.venue_address|tourl}}&amp;zoom=15&amp;size=600x400&amp;markers=color:blue%7C{{event.venue_address|tourl}}" />
</td></tr></table>

<table align="left" class="column"><tr><td>
	<div class='content'>
		<p><strong>{{event.venue_name}}</strong><br />{{event.venue_address|nl2br}}</p>
		<p>{{event.start_time|date('ga, l F jS, Y')}}</p>
		<p><a class='btn' href="{{event.venue_map_url|raw}}">View Map</a></p>
	</div>
</td></tr></table>

<span class="clear"></span>
