<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body bgcolor="#FFFFFF">

	{% if summary %}
	<table class="head-wrap head_teaser" bgcolor="#222222">
		<tr>
			<td></td>
			<td class="header container">
				<div class="content">{{summary}}</div>
			</td>
			<td></td>
		</tr>
	</table>
	{% endif %}

	{% if event %}
	<table class="head-wrap hero_bg" bgcolor="#000000">
		<tr>
			<td></td>
			<td class="header container">
				<img src='https://edgeconf.com/images/events/{{event.slug}}/mailheader.jpg?v=2' width='100%' />
			</td>
			<td></td>
		</tr>
	</table>
	{% endif %}

	<table class="body-wrap">
		<tr>
			<td></td>
			<td class="container" bgcolor="#FFFFFF">

				<div class="content">
				<table><tr><td>
					{% block content %}{% endblock %}
				</td></tr></table>
				</div>

			</td>
			<td></td>
		</tr>
	</table>

</body>
</html>
