<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="”Content-Type”" content="”text/html;" charset="UTF-8”" />
	<title></title>
</head>
<body bgcolor='#222222'>
	<div style="position: relative; margin: 0 auto; width: 600px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; background-color: #f7f7f7;">
		<table border="0" cellpadding="0" cellspacing="0" width="600">
			<tr>
				<td style='text-align:center'>
					<img src='http://edgeconf.com/images/events/{{event.slug}}/mailheader.jpg' width='600' />
				</td>
			</tr>
			<tr>
				<td>
					<table width="600" border="0" cellspacing="0" cellpadding="0" style="border-left:1px solid #dedede;border-right:1px solid #dedede;padding-top:0px;padding-bottom:0px;">
						<tr>
							<td width="20"></td>
							<td style="color:#515151;">
								{% block content %}{% endblock %}
							</td>
							<td width="20"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
