{% extends 'emails/layout.html' %}

{% block content %}
	<h2 class='space'>Time's running out!</h2>
	{% if attendance.type == 'VIP' %}
	<p class="lead">You registered for Edge and we sent you an invite, but you haven't used it.</p>
	<p>If you still want to, you need to buy your ticket soon, as we're now issuing more invitations to people on our waitlist.</p>

	<p><a href="https://edgeconf.com/{{event.slug}}/register?invite_preauth={{code}}" class="btn">Claim ticket</a></p>

	<p>We will continue to issue invitations until all tickets are sold, and tickets are available on a <strong>first come first served basis</strong> to anyone with an invitation. This invitation therefore <strong>does not guarantee that you will get a ticket</strong>, and we encourage you to use it to buy a ticket as soon as possible.</p>

	<p>This invitation was generated for {{person.email}}.</p>

	{% include 'emails/partials/location.html' %}
	{% include 'emails/partials/about.html' %}
{% endblock %}
