<style>
.flex-direction-nav a {
	height: 50px;
}
</style>
	<section class="layer">
		<div class="row">
			<div class="small-12 columns">
				<h2>The Party</h2>
				<p>Exclusively for Edge participants the <a href='http://www.rigb.org/'>Royal Institution</a> is yours to explore for the evening, with food, drinks and full access to the museum and collections, sponsored by the <strong>Financial Times</strong>.</p>
				<div class="flexslider">
					<ul class="slides">
						<li><img src="http://www.rigb.org/cache/images/hero_visit_cafe_1_005001ae5001ae.jpg" /></li>
						<li><img src="http://www.rigb.org/cache/images/hero_venue_food_1_0_005001ae5001ae.jpg" /></li>
						<li><img src="http://www.rigb.org/cache/images/hero_contemporarycl_wothers_6_1_005001ae5001ae.jpg" /></li>
					</ul>
					<img src='http://www.rigb.org/layout/img/ri-logo.png' style='position: absolute; top: 20px; left: 20px; z-index:1; -webkit-filter: invert() drop-shadow(0px 3px 6px black);-moz-filter: invert() drop-shadow(0px 3px 6px black);-ms-filter: invert() drop-shadow(0px 3px 6px black); filter: invert() drop-shadow(0px 3px 6px black);' />
				</div>
				<p>The RI has been at the forefront of scientific thought in Britain since 1799.  It has produced fifteen Nobel laureates, and discovered ten chemical elements, along with the wave theory of light, electro-magnetism, lasers and the greenhouse effect.  Today the RI has a substantial public science programme, holding over one hundred events per year, including the world famous <a href='http://en.wikipedia.org/wiki/Royal_Institution_Christmas_Lectures'>RI Christmas lectures</a>, and is currently hosting a programme of lectures celebrating <a href='http://www.rigb.org/about/news/spring-2014/2014-friday-evening-discourses'>women in science</a>.</p>
				<p>The Royal Institution is a very nice <a href='https://www.google.co.uk/maps/dir/Cardinal+Place+Shopping+Centre,+76-98+Victoria+St,+London+SW1E+5JD/The+Royal+Institution+of+Great+Britain,+21+Albemarle+St,+London+W1S+4BS,+United+Kingdom/@51.5043798,-0.1413684,15z/am=t/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x487604df6feb94af:0xf5335bb11c8e6eef!2m2!1d-0.140157!2d51.497156!1m5!1m1!1s0x4876052a211f2c63:0x47ff308f9785ea0c!2m2!1d-0.142571!2d51.509827!3e2'>25 minute walk</a> from the conference venue taking in Buckingham Palace on the way, or <a href='https://www.google.co.uk/maps/dir/Cardinal+Place+Shopping+Centre,+76-98+Victoria+St,+London+SW1E+5JD/The+Royal+Institution+of+Great+Britain,+21+Albemarle+St,+London+W1S+4BS,+United+Kingdom/@51.5051031,-0.1455295,14z/am=t/data=!3m1!4b1!4m16!4m15!1m5!1m1!1s0x487604df6feb94af:0xf5335bb11c8e6eef!2m2!1d-0.140157!2d51.497156!1m5!1m1!1s0x4876052a211f2c63:0x47ff308f9785ea0c!2m2!1d-0.142571!2d51.509827!2m1!6e4!3e3'>about 15 minutes by tube</a>.
			</div>
		</div>
	</section>
