<style>
.flex-direction-nav a {
    height: 50px;
}
</style>
    <section class="layer">
        <div class="row">
            <div class="small-12 columns">
                <div class="flexslider">
                    <ul class="slides">
                        <li><img src="https://lh6.googleusercontent.com/-jsHOa-2k3wA/UzIE9VxcSwI/AAAAAAAAMpQ/jh6eQ7WLi5s/w799-h534-no/DSC_6208.jpg" /></li>
                        <li><img src="https://lh3.googleusercontent.com/-oH1aSFGPOwc/UzIE-gg86lI/AAAAAAAAMlU/2rAY9tekq5s/w799-h534-no/DSC_6235.jpg" /></li>
                        <li><img src="https://lh6.googleusercontent.com/-k-ynZn7jHSg/UzIFCu63ieI/AAAAAAAAMsU/BNVQNQgBpd8/w799-h534-no/DSC_6288.jpg" /></li>
                        <li><img src="https://lh5.googleusercontent.com/-i86yY8Mrqfs/UzIFEUyr7MI/AAAAAAAAMro/48oxORazAx0/w799-h534-no/DSC_6307.jpgg" /></li>
                        <li><img src="https://lh6.googleusercontent.com/-s8go42fV4Ck/UzIFFRP02aI/AAAAAAAAMuY/5L5uLWoxzAs/w799-h534-no/DSC_6320.jpg" /></li>
                        <li><img src="https://lh5.googleusercontent.com/-HDWIlqma1us/UzIFHq028aI/AAAAAAAAMmk/Pj6go4nYceo/w799-h534-no/DSC_6338.jpg" /></li>
                        <li><img src="https://lh3.googleusercontent.com/-0XjqfmJ6Tbg/UzIFLEWK_MI/AAAAAAAAMvo/lACihoJZIGY/w799-h534-no/DSC_6455.jpg" /></li>
                        <li><img src="https://lh6.googleusercontent.com/-fl5d7KpzCVY/UzIFNJ_pquI/AAAAAAAAMns/zJpl_BP8BpI/w799-h534-no/DSC_6468.jpg" /></li>
                        <li><img src="https://lh5.googleusercontent.com/-yuU-RQbJW9s/UzcrJAF1S1I/AAAAAAAAhEY/QaMc8OkPstA/w801-h534-no/DSCF2271-2.jpg" /></li>
                        <li><img src="https://lh3.googleusercontent.com/-CIIb8PKO6oU/UzcrLQvi3aI/AAAAAAAAhNY/X6KElV1iJXA/w801-h534-no/DSCF2291-2.jpg" /></li>
                        <li><img src="https://lh4.googleusercontent.com/-5LtvP36LKq0/UzcrUtrKKII/AAAAAAAAhFo/oXjUxBCNx4s/w801-h534-no/DSCF2337-2.jpg" /></li>
                        <li><img src="https://lh3.googleusercontent.com/-oJEXTxmY8cs/UzcrVwH0tTI/AAAAAAAAhF4/hfrOmxYpgfM/w801-h534-no/DSCF2345-2.jpg" /></li>
                        <li><img src="https://lh6.googleusercontent.com/-RfLUA-gqFPg/Uzcrb9JbwBI/AAAAAAAAhIY/tnHBJBmYqes/w801-h534-no/DSCF2395-2.jpg" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>