{% extends 'layout.html' %}
{% set activemenu = 'home' %}

{% block content %}
	<div id="billboard" class='billboard-{{ thisevent.slug }}'>
		<div class="row">
			<div class="small-12 large-3 columns">
				<h1 class="hide-text">Edge Conference</h1>
			</div>
			<div class="small-12 large-9 columns">
				<p class="tagline">Edge is a new kind of non-profit one-day conference on advanced web technologies for developers and browser vendors, raising funds for <a href='{{thisevent.partner_url}}'>{{thisevent.partner_name}}</a>.</p>
			</div>
		</div>
		<div class="layer">
			<div class="row">
				<div class="small-12 columns">
					<div class="row">
						<div class="small-12 columns large-6 columns">
							<p><strong>{{ thisevent.location }}, {{ thisevent.start_time|date('F j, Y') }}</strong></p>
							{% if date(thisevent.start_time) > date() %}
								{% if thisevent.ticketsavailable %}
									<p><a class="button" href='/{{ thisevent.slug }}/register'>Register to attend</a></p>
								{% else %}
									<p><strong>SOLD OUT</strong></p>
								{% endif %}
							{% elseif date(thisevent.end_time) < date() %}
								{% if nextevent %}
									<p class='subtext'>This edition of Edge is long gone, but the next Edge conference is coming up in {{nextevent.location}}.  <a href='/{{nextevent.slug}}'>Get more details</a></p>
								{% else %}
									<p class='subtext'>This edition of Edge is long gone, but you can still sign up to our newsletter and be informed of future events.</p>
									<form id='emailsignup' action="http://assanka.us1.list-manage1.com/subscribe/post" method="post">
									<input type="hidden" name="u" value="b17e923e9f871f8fc40327494">
									<input type="hidden" name="id" value="0c9bd2c13d">
									<div class='row collapse'>
										<div class='small-10 columns'>
											<input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" placeholder='Your email address'/>
										</div>
										<div class='small-2 columns'>
											<button type='submit' class='btn' style='padding: 0.6rem'>Go</button>
										</div>
									</div>
									</form>
								{% endif %}
							{% endif %}
						</div>
						<div class="small-12 columns large-6 columns">
							<p>Presented by <a href="http://labs.ft.com">FT Labs</a>, <a href="http://www.modern.ie/">Microsoft</a> and <a href="http://developers.google.com/chrome">Google</a></p>
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/edgeconf" class="hide-text facebook">Facebook</a></li>
								<li><a href="https://www.twitter.com/edgeconf" class="hide-text twitter">Twitter</a></li>
								<li><a href="https://plus.google.com/+Edgeconf" class="hide-text google-plus">Google Plus</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% if date(thisevent.start_time) > date() %}
		<section class="layer">
			<div class="row">
				<div class="small-12 large-6 columns">
					<h2>Handpicked attendees</h2>
					<p>You can’t simply buy a ticket for Edge.  We ask you to apply, and if you have something to contribute, you’ll be very welcome to join us.  Edge is about everyone learning from everyone else, so you need to bring something to teach as well as a desire to learn. Every moment of the conference will be publicly available afterward.</p>
				</div>
				<div class="small-12 large-6 columns">
					<h2>Advanced topics</h2>
					<p>There are lots of excellent conferences to learn as a beginner.  Edge is for those who push boundaries.  If it doesn’t make your brain hurt, we’re not trying hard enough.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 large-6 columns">
					<h2>Unique format</h2>
					<p>We open each hour long session with a ten minute talk.  After that, we’re into the discussion, and we keep it moving fast.  We record everything, on video and in text.  Everything is released for free to the world the moment the event ends.</p>
				</div>
				<div class="small-12 large-6 columns">
					<h2>Engaging and collaborative</h2>
					<p>A big discussion needs a team, not an audience.  Expect comfy seating, excellent wifi and room to think.  Don’t expect in-your-face sponsorship, goody bags, or unreadable name badges.</p>
				</div>
				<div class="small-12 columns">
					<img src="/images/events/2013-nyc/panel.jpg" class="full" alt="" />
				</div>
			</div>
		</section>
	{% elseif date(thisevent.end_time) > date() %}
		{% include 'live.html' %}
	{% else %}
		<section class="layer" id='videos'>
			<div class="row">
				<div class="small-12 columns">
					<h2 style='margin-bottom:25px'>Watch the coverage</h2>
				</div>
				<div class="small-12 large-8 columns">
					<div class='videoframe'>
						<iframe id='youTubePlayer' src='http://www.youtube.com/embed/videoseries?list={{thisevent.video_playlist}}' frameborder='0'></iframe>
					</div>
				</div>
				<div id="videos-container" class="small-12 large-4 columns">
					<input id="query" type="text" class='input-block-level' placeholder="Search video transcripts"/>
					<span class='help-block'>Enter text to search transcripts, then click on a result to view video.</span>
					<div id="numResults"></div>
					<ul id="results"></ul>
				</div>
			</div>
		</section>
	{% endif %}

	{% include 'events/' ~ thisevent.slug ~ '/home.html' ignore missing %}

	<section class="layer">
		<div class="row">
			<div class='large-12 small-12 columns'>
				<h2>The Venue</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-6 columns">
				<p>{{ thisevent.venue_descr }}</p>
				<p><strong>{{ thisevent.venue_name }}</strong><br/>
				{{ thisevent.venue_address|nl2br }}
				</p>
				<p><a href="{{ thisevent.venue_map_url|raw }}">See the venue on a map</a></p>
			</div>
			<div class="small-12 large-6 columns">
				<img src='/images/venues/{{ thisevent.venue_name|slugify }}.jpg' />
			</div>
		</div>
	</section>

	<section class="layer">
		<div class="row">
			<div class='large-12 small-12 columns'>
				<h2>Session format</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-4 columns">
				<img src='/images/speechbubbles.png' />
			</div>
			<div class="small-12 large-8 columns">
				<p>Edge has <strong>no talks</strong>.  Instead, we run highly structured debates and use tools to surface the most relevant opinions and keep the session moving quickly.  Our emphasis is on creating a good environment for productive debate and discussion, rather than presenting the experiences of a single speaker.</p>

				<p>Sessions last an hour, start with a dense (maximum) 10 minute talk by an expert, and then move into moderated debate.</p>
			</div>
		</div>
	</section>

	{% if thisevent.partner_name %}
		{% include 'partners/' ~ thisevent.partner_name|slugify ~ '.html' %}
	{% endif %}

	<section class="layer connect">
		<div class="row">
			<div class="small-12 columns">
				<h2>Get Involved</h2>
				<div class="row">
					<div class="small-12 columns large-6 columns">
						<p>{{ thisevent.location }}, {{ thisevent.start_time|date('F j, Y') }}</p>
						{% if date(thisevent.start_time) > date() %}
							{% if thisevent.ticketsavailable %}
								<p><a class="button" href='/{{ thisevent.slug }}/register'>Register to attend</a></p>
							{% else %}
								<p><strong>SOLD OUT</strong></p>
							{% endif %}
						{% elseif date(thisevent.end_time) < date() %}
							{% if nextevent %}
								<p class='subtext'>This edition of Edge is long gone, but the next Edge conference is coming up in {{nextevent.location}}.  <a href='/{{nextevent.slug}}'>Get more details</a></p>
							{% else %}
								<p class='subtext'>This edition of Edge is long gone, but you can still sign up to our newsletter and be informed of future events.</p>
								<form id='emailsignup' action="http://assanka.us1.list-manage1.com/subscribe/post" method="post">
								<input type="hidden" name="u" value="b17e923e9f871f8fc40327494">
								<input type="hidden" name="id" value="0c9bd2c13d">
								<div class='row collapse'>
									<div class='small-10 columns'>
										<input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" placeholder='Your email address'/>
									</div>
									<div class='small-2 columns'>
										<button type='submit' class='btn' style='padding: 0.6rem'>Go</button>
									</div>
								</div>
								</form>
							{% endif %}
						{% endif %}
					</div>
					<div class="small-12 columns large-6 columns">
						<p>Presented by <a href="http://labs.ft.com">FT Labs</a>, <a href="http://modern.ie">Microsoft</a> and <a href="http://developers.google.com/chrome">Google</a></p>
						<ul class="social-icons social-icons--dark">
								<li><a href="https://www.facebook.com/edgeconf" class="hide-text facebook">Facebook</a></li>
								<li><a href="https://www.twitter.com/edgeconf" class="hide-text twitter">Twitter</a></li>
								<li><a href="https://plus.google.com/+Edgeconf" class="hide-text google-plus">Google Plus</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
