{% extends 'layout.html' %}
{% set activemenu = 'schedule' %}

{% block content %}
	<style>
	ul.bullets { padding-left: 40px; }
	ul.bullets li { list-style-type: disc; }
	</style>

	<div id="billboard" class="inner billboard-{{ thisevent.slug }}">
		<div class="row">
			<div class="small-12 large-2 columns">
				<h1 class="hide-text">Edge Conference</h1>
			</div>
			<div class="small-12 large-10 columns">
				<h2>Conference hub</h2>
			</div>
		</div>
	</div>

	<section class="layer">
		<div class="row">
			<div class="small-12 columns">
				<h2>Welcome to the Edge</h2>

				<p>Here are some useful links to help you get the most out of the conference today.</p>

				<h3>OnSlyde remotes</h3>

				<p>Get yourself into the debate, agree or disagree with current speakers and put yourself in the speaking queue.  Use these links on any browser that supports web sockets:</p>

				<ul class='bullets'>
					<li><a href='https://onslyde.com/go/rdh'>Apps and Permissions</a></li>
					<li><a href='https://onslyde.com/go/rds'>Layout Performance</a></li>
					<li><a href='https://onslyde.com/go/rdj'>Security and Identity</a></li>
					<li><a href='https://onslyde.com/go/ryx'>Package Management</a></li>
					<li><a href='https://onslyde.com/go/ryb'>Image Formats</a></li>
					<li><a href='https://onslyde.com/go/ryz'>Standards and the EWM</a></li>
				</ul>

				<h3>Notes</h3>

				<p>We take live notes in Google documents.  Feel free to follow along (some note-takers may permit public editing or commenting, others may not):</p>

				<ul class='bullets'>
					<li><a href='https://docs.google.com/document/d/1OEMxr5uU6HAQAJWkb5JBzy_LkRU8u-XylRRfqBt4Y9M/edit?usp=sharing'>Apps and Permissions</a></li>
					<li><a href='https://docs.google.com/document/d/1yneCt7AZ7Zc2-TMRYA8ZfYWwKzJajpok4wWZG_4h3B0/edit?usp=sharing'>Layout Performance</a></li>
					<li><a href='https://docs.google.com/document/d/1qaQpAHMcTrwYBNXmefw-wVmdYwwaeFVJXZy6wL-HWMk/edit?usp=sharing'>Security and Identity</a></li>
					<li><a href='https://docs.google.com/document/d/1SHDLawApCxj4Y6-iKcZ45JdETN-AHSCmMFcRyd1w5sM/edit?usp=sharing'>Package Management</a></li>
					<li><a href='https://docs.google.com/document/d/1UpMFpCp_l1jrkHj-MB4KnmNhb-PumImLk9FkRP6gkug/edit?usp=sharing'>Image Formats</a></li>
					<li><a href='https://docs.google.com/document/d/1CyhrHDhMu55DO2Qr3T0k_RfF5cTjPgvbE4IxGIsEWTc/edit?usp=sharing'>Standards and the EWM</a></li>
				</ul>

				<h3>Other useful things</h3>

				<dl>
					<dt><a href='/feedback'>Leave feedback</a></dt>
					<dd>Review early, review often.</dd>

					<dt><a href='https://docs.google.com/document/d/1wMeNNiGdtW4TFp4luRyojm9FZvxyr4RsMDMi1rsu5Lc/edit?usp=sharing'>Briefing for delegates</a></dt>
					<dd>Conference code of conduct, after-hours details, guide to how sessions work etc.</dd>

					<dt><a href='http://lanyrd.com/2014/edge-san-francisco/'>Lanyrd event</a></dt>
					<dd>View and post coverage of the day's sessions</dd>

					<dt><a href='https://www.google.co.uk/maps/dir/Adobe+Systems+San+Francisco,+601+Townsend+St,+San+Francisco,+CA+94103,+United+States/799+Market+Street,+Market+Street,+San+Francisco,+CA,+United+States/@37.7784324,-122.4115697,15z/data=!3m1!4b1!4m12!4m11!1m5!1m1!1s0x808f7e2cb4461879:0x6a44eef10fe44245!2m2!1d-122.401915!2d37.771183!1m3!2m2!1d-122.4051865!2d37.7856486!3e2'>Walking directions to after-hours party at Akamai</a></dt>
					<dd>You need your conference badge to get into after-hours.</dd>

				</dl>

				<p>If you're producing content about Edge, please tag it with <code>edgeconf</code> so we can find and link to it.  We're on twitter at <a href='http://twitter.com/edgeconf'>@edgeconf</a>, and also on <a href='http://facebook.com/edgeconf'>Facebook</a> and <a href='https://plus.google.com/+Edgeconf'>Google+</a>.  If you need any help during the day, feel free to ask Adobe or FT staff, or send an email to <a href='mailto:edgeconf@labs.ft.com'>edgeconf@labs.ft.com</a>.</p>
			</div>
		</div>
	</section>
{% endblock %}
