{% extends 'layout.html' %}
{% set activemenu = 'schedule' %}

{% block content %}
	<style>
	ul.bullets { padding-left: 40px; }
	ul.bullets li { list-style-type: disc; }
	</style>

	<div id="billboard" class="inner billboard-{{ thisevent.slug }}">
		<div class="row">
			<div class="small-12 large-2 columns">
				<h1 class="hide-text">Edge Conference</h1>
			</div>
			<div class="small-12 large-10 columns">
				<h2>Conference hub</h2>
			</div>
		</div>
	</div>

	<section class="layer">
		<div class="row">
			<div class="small-12 columns">
				<h2>Welcome to Edgeconf</h2>

				<p>Here are some useful links to help you get the most out of the conference today.</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-6 columns">

				<h3>OnSlyde remotes</h3>

				<p>Get yourself into the debate, agree or disagree with current speakers and put yourself in the speaking queue.  Use these links on any browser that supports web sockets:</p>

				<ul class='bullets'>
					<li><a href='#'>Security</a></li>
					<li><a href='#'>Front end data</a></li>
					<li><a href='#'>Components and modules</a></li>
					<li><a href='#'>Progressive enhancement</a></li>
				</ul>

				<p>The links above will not be active until the day of the conference</p>

				<h3>Slack access</h3>

				<p>All our sessions have group chat available as a back channel and a way of participating if you are not comfortable speaking aloud in the group.  Please keep contributions in the session channels on topic.  Feel free to use <code>#general</code> for off-topic chatter.</p>

				<ul>
				<li><a href='http://edge-slack.herokuapp.com/'>Join the Slack org</a></li>
				</ul>

				<p>Conference staff have "(Organiser)" appended to their names and have a badge overlaid on their avatar.</p>
			</div>
			<div class="small-12 large-6 columns">

				<h3>Notes</h3>

				<p>We take live notes in Google documents.  Feel free to follow along (some note-takers may permit public editing or commenting, others may not):</p>

				<ul class='bullets'>
					<li><a href='https://drive.google.com/open?id=1tUbDpaZ-aeajAqSIQInYxDZHlDY1SnM9ZTuUeViz1lg&authuser=0'>Panel: Security</a></li>
					<li><a href='https://drive.google.com/open?id=18T9Qhx1NQGUTGAWKBQqITqQlXPIRmiaSRK19-8qMACY&authuser=0'>Panel: Front end data</a></li>
					<li><a href='https://drive.google.com/open?id=1Keg45q9iLtI79wcgZjrH2s0Gp_Mh36Ob5i6ZZmHoHPo&authuser=0'>Panel: Components and modules</a></li>
					<li><a href='https://drive.google.com/open?id=1aSjbz1A2ifV5Xu-pYx-SGiweaihwZ74R79PXeAJxJh8&authuser=0'>Panel: Progressive enhancement</a></li>
					<li><a href='https://drive.google.com/open?id=10EfYRBc5dYYg4NWnidtPAU41D0VB89K-5eHQ4lrV4hI&authuser=0'>Breakout: Security</a></li>
					<li><a href='https://drive.google.com/open?id=1oQalVa9TOx4R-a_jpNCOdRbXW0BL1MIbMM1cCziN15Y&authuser=0'>Breakout: Using serviceworker</a></li>
					<li><a href='https://drive.google.com/open?id=19psmebjO3EFM0l-QXNPHlSeO76wKTknvwYb0GZqJTOE&authuser=0'>Breakout: Network ops</a></li>
					<li><a href='https://drive.google.com/open?id=1h9CqgQKzq1U5a6DZYT_mqBozUAO5k1wqT7Fj_a1WB4Y&authuser=0'>Breakout: Accessibility of web components</a></li>
					<li><a href='https://drive.google.com/open?id=186fpB_nIoW6tGjksLaRRjd57vUHxBxoZWe0UaKsvFIs&authuser=0'>Breakout: Front end data</a></li>
					<li><a href='https://drive.google.com/open?id=1562L6X6fMuTuO7e62wd9mqhY0mrgYZf8sevz-dZ2r6g&authuser=0'>Breakout: ES6 patterns</a></li>
					<li><a href='https://drive.google.com/open?id=17b4JOT6k8FIDqZOsPzBwzUXpL6qXPi3I5V24pPSN18U&authuser=0'>Breakout: Polyfills</a></li>
					<li><a href='https://drive.google.com/open?id=1xhyD9aFpnlAf6sC_dQ8M4mwS8JGcuLqHVJtHEH1rPOM&authuser=0'>Breakout: Progressive enhancement</a></li>
					<li><a href='https://drive.google.com/open?id=1i0E5FYU8jjme-vDb7jCgtDA4XmyCRK-0yszvFff8dOQ&authuser=0'>Breakout: Installing web apps</a></li>
					<li><a href='https://drive.google.com/open?id=1dyQrw-NWoCk64xZ-Zfv-BwJ8MvA4WxM9CSUAfXuV0bY&authuser=0'>Breakout: Components</a></li>
					<li><a href='https://drive.google.com/open?id=18Tx_grc_wnYF1cDze1r_wwOmvMQFVbjjlep6P80BkvU&authuser=0'>Breakout: Sass and CSS patterns</a></li>
					<li><a href='https://drive.google.com/open?id=1xi8mC0YZr7T_UOOA7HAEAWXvSkD4FRRjum0H6EQ6mZU&authuser=0'>Breakout: Data driven performance</a></li>
					<li><a href='https://drive.google.com/open?id=1xi8mC0YZr7T_UOOA7HAEAWXvSkD4FRRjum0H6EQ6mZU&authuser=0'>Breakout: Interoperability</a></li>
				</ul>
			</div>
		</div>
		<div class='row'>
			<div class="small-12 large-6 columns">
				<h3>Staff</h3>
				<p>The following people are responsible for staging the conference today.  If you can't find them, you can contact them on Slack:</p>
				<ul>
					<li><strong>Programme curator</strong>: Andrew Betts</li>
					<li><strong>Event managers</strong>: Ruth Yarnit, Vicky Carmichael, Perry Dyball</li>
					<li><strong>Volunteers</strong>: Rowan Beentje, Matt Andrews, Ada Edwards, Alberto Elias, Sam Giles, George Crawford, Tim Davenport, Patrick Hamman (all FT staff)</li>
				</ul>
			</div>
			<div class="small-12 large-6 columns">

				<h3>Other useful things</h3>

				<dl>
					<dt><a href='/feedback'>Leave feedback</a></dt>
					<dd>Review early, review often.</dd>

					<dt><a href='https://docs.google.com/document/d/1v1zUypQ0j2HdIA5XEtJS3zrpvzw-liIK7N8Fxmu1juI/edit#'>Briefing for delegates</a></dt>
					<dd>Conference code of conduct, after-hours details, guide to how sessions work etc.</dd>

					<dt><a href='http://lanyrd.com/2015/edgeconf/'>Lanyrd event</a></dt>
					<dd>View and post coverage of the day's sessions</dd>

					<dt><a href='https://www.google.co.uk/maps/dir/Facebook+London,+Brock+Street,+London/Rotunda,+Kings+Place,+90+York+Way,+Kings+Cross,+London+N1+9AG/@51.5301932,-0.1356384,15z/data=!4m14!4m13!1m5!1m1!1s0x487604ccdc5b4b3f:0x683757fbe5e59ea4!2m2!1d-0.14005!2d51.525789!1m5!1m1!1s0x48761b3e69e594f5:0x450a6a2fd3fdf74d!2m2!1d-0.122!2d51.534985!3e2'>Walking directions to after-hours party at Rotunda, Kings Place</a></dt>
					<dd>You need your conference badge to get into the party.</dd>

				</dl>
			</div>
			<div class='small-12 columns'>

				<p>If you're producing content about Edge, please tag it with <code>edgeconf</code> so we can find and link to it.  We're on twitter at <a href='http://twitter.com/edgeconf'>@edgeconf</a>, and also on <a href='http://facebook.com/edgeconf'>Facebook</a> and <a href='https://plus.google.com/+Edgeconf'>Google+</a>.  If you need any help during the day, feel free to ask Facebook or FT staff, or send an email to <a href='mailto:edgeconf@labs.ft.com'>edgeconf@labs.ft.com</a>.</p>
			</div>
		</div>
	</section>
{% endblock %}
