{% extends 'layout.html' %}
{% import 'macros/forms.html' as forms %}
{% set activemenu = 'register' %}

{% block content %}
	<div id="billboard" class="inner billboard-{{ thisevent.slug }}">
		<div class="row">
			<div class="small-12 large-2 columns">
				<h1 class="hide-text">Edge Conference</h1>
			</div>
			<div class="small-12 large-10 columns">
				<h2>Register</h2>
			</div>
		</div>
	</div>

	{% if closed %}
		<section class="layer">
			<div class="row">
				<div class="small-12 columns">
					<h2>Registration closed</h2>
					<p>Registration is currently not available for this event.</p>
				</div>
			</div>
		</section>

	{% elseif saved %}
		<section class="layer">
			<div class="row">
				<div class="small-12 columns">
					<h2>Thanks!</h2>
					<p>Your application has been recorded against the email address <strong>{{user.email}}</strong>.  We'll be in touch soon (invitations will be sent gradually over the period leading up to the conference, with plenty of time to book travel).</p>
					<p>If you want to change your application, just start again, and we'll open your existing application for editing.</p>
				</div>
			</div>
		</section>
	{% else %}
		<section class="layer">
			<div class="row">
				<div class="small-12 columns">
					<p>Tickets to Edge cost {{thisevent.cost}}.  The space in the venue is quite limited, and we expect this event to be popular, so we are operating a pre-registration process to allocate tickets fairly and ensure a broad cross-section of the development community is able to attend.</p>
					<p>To register your interest, update an existing registration, or claim a reserved ticket, first sign in.</p>
				</div>
			</div>
			<form class='edgeform register' action='/{{thisevent.slug}}/register' method='post'>
				<div class="row form-field">
					<div class="small-12 large-4 columns">
						<label>Event</label>
					</div>
					<div class='small-12 large-8 columns'>
						Edge conference in <strong>{{thisevent.location}}</strong>, on <strong>{{thisevent.start_time|date('jS F Y')}}</strong>
					</div>
				</div>
				<div class="row form-field">
					<div class="small-12 large-4 columns">
						<label for='txtemail'>Email address</label>
					</div>
					<div class='small-12 large-8 columns email-field'>
						{% if user.email %}
							{{user.email}} (<a href='/auth/logout?redir={{server.request_uri}}'>Not correct?</a>)
							<input type='hidden' name='email' value='{{user.email}}'/>
						{% else %}
							<input type='text' name='email' class='inline-field' id='txtemail' />
							<input type='button' value='Verify' class='email-verify-button small button' />
							<span class='email-verify-code'>
								<input type='text' name='emailverify' id='txtemailverify' class='inline-field' style='max-width:150px' placeholder='Paste code here' />
								<input type='button' value='Submit' class='email-verify2-button small button' />
								or <a href='javascript:void(0)' class='email-verify-reset-link'>start again</a>
							</span>
							<span class='note'>You need to verify that you own this email address.  Click verify and enter the code that you receive by email (please allow 10 minutes for the email to arrive, and check your spam folder!)</span>
						{% endif %}
					</div>
				</div>
				{% if user.event_id %}
					<div class='row'>
						<div class='small-12 columns'>
							<p class='alert'>
							{% if user.ticket_type %}
								<strong>You're coming!</strong>  You already have a ticket, and we're looking forward to seeing you at Edge conf.  Need to cancel?  Use the link in your Eventbrite confirmation email or <a href='mailto:hello@edgeconf.com'>email us</a>.
								{% set user = null %}
							{% elseif user.invite_code %}
								<strong>Ticket waiting for you!</strong>  Your account has an invitation available to use immediately.  Would you like to <a href='https://www.eventbrite.co.uk/e/{{thisevent.eventbrite_id}}?access={{user.invite_code}}'>buy your ticket now on Eventbrite</a>
								{% set user = null %}
							{% else %}
								We already have a registration on file for you.  If you'd like to edit your details or session proposals, please update them in the form below.  If your application has been reviewed already it may be queued for review again.
							{% endif %}
							</p>
						</div>
					</div>
				{% endif %}

				{% set nouser = user is empty %}

				{{ forms.text('given_name', 'Given name', user, 'Usually your first name', nouser) }}
				{{ forms.text('family_name', 'Family name', user, 'Usually your last name', nouser) }}
				{{ forms.select('travel_origin', 'Location', user, countries, nouser, true, 'Choose the ISO 3166 country you are most likely to be travelling from to attend the conference.  We use this to figure out where we should host Edge next time.') }}
				{{ forms.text('org', 'Organisation/affiliation', user, 'eg. IBM', nouser, 'Your company, school or institution name. We try to avoid having too many delegates from the same company. <strong>This will get printed on your name badge</strong>') }}
				{{ forms.chklist('sessions', 'Sessions of interest', user, sessions, nouser, 'Which sessions interest you the most?  Choose up to four.') }}

				<div class="row form-field{{ nouser ? ' disabled' : '' }}">
					<div class="small-12 large-4 columns">
						<label>Expertise</label>
					</div>
					<div class='small-12 large-8 columns'>
						<div class='note'>What kind of experience or expertise can you bring to the sessions that most interest you?  We'll use this to prioritise invitations for those who have the most to contribute on the day, using an anonymised selection process.</div>
						{% for id,name in sessions %}
							<div class='proposal' id='proposalgroup_{{id}}'><label class='sublabel' for='txtproposal_{{id}}' id='lblproposal_{{session.id}}'>{{name}}</label><textarea name='proposal_{{id}}' id='txtproposal_{{id}}'>{{user.proposals[id]}}</textarea></div>
						{% endfor %}
						<div class='note' id='noproposals'>Choose some sessions above in order to answer this question.</div>
					</div>
				</div>

				<div class="row form-field{{ nouser ? ' disabled' : '' }}">
					<div class='small-12 columns'>
						<h3>Important - know before you go:</h3>
						<ul class='bullets'>
							<li>We prepare all our questions <strong>in advance</strong>.  We use Google Moderator to source topic suggestions from attendees, but we rewrite them for clarity, conciseness and consistency.</li>
							<li>On the day, the audience will be expected to get very involved in the discussion, but contributions should be <strong>opinions</strong> or debate points, not questions.  We want to know what <em>you</em> think, not just what the panel have to say.  This is important because at conferences it's generally considered rude to express an opinion during Q&amp;A rather than asking a question.  That is not true at Edge.</li>
							<li>We deal only with engineering topics that relate to specifications.  Therefore topics like UX, management, culture or social issues, while very important, are not included in the Edge programme.</li>
						</ul>
						<p>Before you submit, make sure you all the details are correct.  Your application will be queued for review.</p>
						<p style='text-align:right'><input type='submit' class='button' value='Submit' /></p>
					</div>
				</div>
			</form>
		</section>
	{% endif %}
{% endblock %}
