{% extends 'layout.html' %}
{% set activemenu = 'schedule' %}

{% block content %}
	<div id="billboard" class="inner billboard-{{ thisevent.slug }}">
		<div class="row">
			<div class="small-12 large-2 columns">
				<h1 class="hide-text">Edge Conference</h1>
			</div>
			<div class="small-12 large-10 columns">
				{% if date(thisevent.start_time) > date() and thisevent.ticketsavailable %}
					<a style ='float:right; margin-top:33px; box-shadow: 0 0 20px 10px black' class="button" href='/{{ thisevent.slug }}/register'>Register to attend</a>
				{% endif %}
				<h2>Schedule</h2>
			</div>
		</div>
	</div>

	<section class="layer"><div class="row"><div class='small-12 columns'>

	{% for slot in slots %}
		<div class='schedule-slot'>
			<div class='slot-time'>
				<time datetime='{{slot.time|date("c", "UTC")}}'>{{slot.time|date("H:i", thisevent.time_zone)}}</time>
			</div>
			<ul class='slot-sessions'>
				{% for session in slot.sessions %}
					<li class='session session-{{ session.type|slugify }}'>
						<ul class="session-links">
						{% if session.youtube_id and thisevent.video_playlist %}
							<li><a href="/{{thisevent.slug}}?v={{session.youtube_id}}#videos"><i class="fa fa-play-circle"></i> Video</a></li>
						{% endif %}
						{% if session.notes_url %}
							<li><a href="{{session.notes_url}}"><i class="fa fa-list"></i> Writeup</a></li>
						{% endif %}
						{% if session.analytics_url %}
							<li><a href="{{session.analytics_url}}"><i class="fa fa-bar-chart-o"></i> Analytics</a></li>
						{% endif %}
						</ul>
						<h3>{{session.name}}</h3>
						{% if session.room %}
							<span class='room'><i class='fa fa-map-marker'></i> {{session.room}}</span>
						{% endif %}
						<p class='session-summary'>{{session.description|raw}}</p>
						{% if session.participants %}
						<ul class="session-participants">
							{% for person in session.participants %}
								<li class="participant {{ person.role=='Moderator' ? 'moderator' : '' }}">
									<img src="/images/heads/{{person.given_name|slugify}}-{{person.family_name|slugify}}.jpg" alt="{{person.given_name}} {{person.family_name}}" />
									<span class='name'>{{person.given_name}} {{person.family_name}}</span>
									<span class='org'>{{person.org}}</span>
									{% if person.role == 'Moderator' %}<span class='label moderator'>Mod</span>{% endif %}
									{% if person.role == 'Speaker' %}<span class='label speaker'>Speaker</span>{% endif %}
									<div class='bio'>{{person.bio|raw}}</p>
								</li>
							{% endfor %}
						</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}

	</div></div></section>

{% endblock %}
