<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Edge Conference speaker queue</title>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/css/foundation.css" />
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:300,400,700,900'>
	<link rel="stylesheet" href="/css/app.css" />

	<style>
	html, body { height: 100%; }
	#alertbar { position: fixed; bottom:0; left: 0; width: 100%; box-sizing: border-box; padding: 15px; font-size: 23px; font-weight: bold; background: black; color: white; transform: translateY(100%); transition: transform 0.6s ease; }
	#alertbar.visible { transform: translateY(0); transition: none; }
	</style>

</head>
<body class='{{ thisevent.slug }}'>
	<div id='alertbar' class='visible'>Connecting...</div>
	<div class="row speaker-queue">
		{% for speaker in queue %}
		<div class="small-12 medium-6 columns" id='speaker-{{speaker.id}}'>
			<div class='queued-speaker'>
				<img src='https://secure.gravatar.com/avatar/{{speaker.gravatar_hash}}?d=mm&amp;s=50' />
				<h4>{{speaker.given_name}} {{speaker.family_name}}</h4>
				<p>{{speaker.org}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
	<script src="//cdn.polyfill.io/v1/polyfill.min.js?features=String.prototype.trim"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="/js/speaker-list.js"></script>
</body>
</html>
