<style>
.flex-direction-nav a {
    height: 50px;
}
</style>
    <section class="layer">
        <div class="row">
            <div class="small-12 columns">
                <div class="flexslider">
                    <ul class="slides">
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-103.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-107.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-109.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-12.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-129.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-13.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-136.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-148.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-167.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-198.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-22.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-29.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-30.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-36.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-58.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-6.jpg" /></li>
                       <li><img src="/images/events/2015-london/photos/EdgeConf2105-70.jpg" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


